

<div class="header bg-gradient-primary col-m  pt-md-8 mb-5">
    <div class="container ">
        <div class="header-body">
            <!-- Navbar -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand -->
                    <a class="h4 mb-1 text-white text-uppercase d-none d-lg-inline-block" href="/admin">ORDERS</a>
                    <!-- Form -->
                    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                        {{!-- <div class="form-group mb-0">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                        </div> --}}
                    </form>
                    <!-- User -->
                   <ul class="navbar-nav align-items-center d-none d-md-flex">
                                <li class="nav-item dropdown">
                                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <div class="media align-items-center">
                                            <span class="avatar avatar-sm rounded-circle">
                                                <img alt="Image placeholder" src="/svg/icons8-administrator-male-48.png">
                                            </span>
                                            <div class="media-body ml-2 d-none d-lg-block">
                                                <span class="mb-0 text-sm  font-weight-bold">{{adminData.name}}</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                       <div class="dropdown-divider"></div>
                                        <a href="/admin/adminLogout" class="dropdown-item">
                                            <i class="ni ni-user-run"></i>
                                            <span>Logout</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>


  <div class="table-responsive">
                            <table class="table align-items-center table-flush" id="products-table">
                                <thead class="thead-light">
                                    <tr>
                            <th>No</th>
                            <th>Date</th>
                            <th>products</th>
                            <th>customer</th>
                            <th>Address</th>
                            <th>Amount</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th>Options</th>
                                    </tr>
                                </thead>

                                
                                <tbody>
                                      {{#each allOrders}}

                                    
                                          <tr>
                            <td class="align-middle">{{inc @index}}</td>
                            <td class="align-middle">{{this.date}}</td>
                            <td class="align-middle"><a href="/admin/view-order-products/{{this._id}}"><i
                                        class="fa fa-eye fa-2x" aria-hidden="true"></a></td>
                            <td class="align-middle">{{this.deliveryDetails.fisrtName}}</td>
                             <td class="align-middle">{{this.deliveryDetails.address}}</td>

                            <td class="align-middle">{{this.totalAmount}}</td>
                            <td class="align-middle ">{{this.paymentMethod}}</td>
                            {{#if this.status.Pending}}
                             <td class="align-middle">pending</td>
                             {{else}}
                            <td class="align-middle">{{this.status}}</td>
                            {{/if}}
                            <td>
                                {{#if this.is_Cancelled}}
                                <p class="text-danger font-weight-bold text-center">Cancelled Successfully</p>
                                {{else}}
                                {{#if this.is_delivered}}
                                <p class="text-success font-weight-bold text-center">Delivered Successfully</p>
                                {{else}}
                                {{#if this.status.pending}}
                                {{else}}
                                <form action="/admin/changeOrderStatus" method="post">
                                    <input type="text" name="OrderId" value="{{this._id}}" hidden>
                                    <select name="status" class="form-select " aria-label="Default select example">
                                        {{!-- <option selected>select status</option> --}}
                                        <option value="Shipped">shipped</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <option value="Placed">placed</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                   
                                    <button type="submit" class="btn btn-dark">Submit</button>
                          
                            
                                </form>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                    </tbody>
                     {{/each}}
                    </table>
                </div>
                                        



                                    
                                    

